<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.fanli.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.taobao.fanli.dao.model.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    </resultMap>

    <sql id="Base_Colum_List">
        id, mobile, openid,  create_at, update_at
    </sql>

    <select id="getOne" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Colum_List"/>
      FROM user
      WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectByMobile" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Colum_List"/>
        FROM user
        WHERE mobile = #{mobile, jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.taobao.fanli.dao.model.User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        user
        (mobile, openid, create_at, update_at)
        VALUES
        (
        #{mobile,jdbcType=VARCHAR}, #{openid, jdbcType=VARCHAR},
        #{createAt, jdbcType=TIMESTAMP}, #{updateAt, jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertDynamic" parameterType="com.taobao.fanli.dao.model.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                mobile,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                #{mobile, jdbcType = VARCHAR},
            </if>
            <if test="openid != null">
                #{openid, jdbcType = VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt, jdbcType = TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt, jdbcType = TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateDynamic" parameterType="com.taobao.fanli.dao.model.User" >
        update user
        <set>
            <if test="mobile != null">
                mobile = #{mobile, jdbcType = VARCHAR},
            </if>
            <if test="openid != null">
                openid = #{openid, jdbcType = VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt, jdbcType = TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt, jdbcType = TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

</mapper>